@font-face {
    font-family: "montserrat";
    src: url(../public/font/Montserrat-Regular.otf);
}

*{
    font-family: "montserrat";
}

body{
    background-color: black;
}

nav{
    background-color: #1f1e1e;
}

#menu-btn{
    background-image: url(assets/icons/menu.png);
}

#close-btn{
    background-image: url(assets/icons/close.png);
}

#project-bg{
    background-color: #1f1e1e;
}

#contact-bg{
    background-color: #1f1e1e;
}