@font-face {
    font-family: "montserrat";
    src: url(../public/Montserrat-Regular.otf);
}

*{
    font-family: "montserrat";
}

body{
    background-color: black;
}

nav{
    background-color: #1f1e1e;
}

#navigation-list{
    background-color: #1f1e1e;
}

#menu-btn{
    background-image: url(../public/menu.png);
}

#close-btn{
    background-image: url(../public/close.png);
}

#project-bg{
    background-color: #1f1e1e;
}

#contact-bg{
    background-color: #1f1e1e;
}